
body {
    margin: 0;
    font-family: Helvetica;
    height: 100vh;
    min-width: 850px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header win"
    "main main main  sidebar"
    "main main main sidebar";
    background-image: url("https://images.pexels.com/photos/7594303/pexels-photo-7594303.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
}

main{
    grid-area:main;
    opacity: 0;
}

img {
    width: 126px;
    height: 214px;
}

#title{
    color: white;
    grid-area: header;
    text-align: center;
}
.show-win{
    grid-area: win;
    text-align: center;
    opacity: 0;
}

#dealer{
    grid-area: dealer;
}

#D-card-one{
    text-align: center;
}
#D-card-two{
    display: inline!important;
}
.added-card{
    text-align: right;
}
#you{
    grid-area: you;
}

#You-card-one{
    text-align:center;
}

#You-card-two{
    text-align: right;
}

#sidebar{
    grid-area: sidebar;
    display:flex;
    flex-direction: column;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
}

p{
    color: white;
}

button {
    opacity: 0;
    border: 2px solid rgb(130, 108, 108);
    border-radius: 45%;
    margin-bottom: 5px!important;
}

#help {
    background-color: #efefef;
    color: black;
    margin: 0 0 5px;
 }

.modal a.close-modal {
    border: none;
    position: absolute;
    top: 1px;
    right: 1px;
}

 .modal {
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    width: 250px;
    height: 250px;
    text-align: center;
    color: #fff;
    line-height: 1.25;
    text-decoration: none;
    text-indent: 0;
    background: grey;
    border: 2px solid #fff;
    border-radius: 2px;
    -webkit-border-radius:  2px;
    -moz-border-radius:     2px;
    -o-border-radius:       2px;
    -ms-border-radius:      2px;
    box-shadow:         1px 1px 5px rgba(0,0,0,0.5);
    -moz-box-shadow:    1px 1px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

#bet{
    opacity: 0;
}

.show{
    text-align: right;
    opacity: 0;
}

#enter-the-game{
    opacity: 1;
}

#amount-bet{
    color: rgb(240, 11, 11);
}




